<% provide(:title, @question.title) %>
<div class="col md-8">
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to "Home", root_path %>
      </li>
      <li class="breadcrumb-item active">
        <%= @question.title %>
      </li>
    </ol>
  </nav>
  <div class="row questions">
    <div class="col-md-1 votes-answer">
      <ul>
        <li title="" data-original-title="This is useful.">
          <%= link_to upvote_question_path(@question), remote: true, method: :post, class: "action vote vote-up img-circle" do %>
            <i class="fa fa-chevron-up"></i>
          <% end %>
        </li>
        <li class="vote-count">
          <span itemprop="upvoteCount" class="vote-count"><%= pluralize(@question.votes.count, "") %></span>
        </li>
        <li title="" data-original-title="This is not useful">
          <%= link_to unvote_question_path(@question), remote: true, method: :post, class: "action vote vote-down img-circle" do %>
            <i class="fa fa-chevron-down"></i>
          <% end %>
        </li>
        <li class="single-question-pump" data-original-title="" title="">
        </li>
      </ul>
    </div>
    <div class="col-md-11 questions">
      <blockquote class="blockquote">
        <p class="question">
          <%= link_to @question.title, @question %>
        </p>
        <p class="anwser">
          <%= raw @question.content %>
        </p>
        <div class="tags">
          <%= (render partial: "shared/tags_list", collection: @question.tags,
          as: :tag) unless @question.tags.blank? %>
        </div>
      </blockquote>
      <div class="bottom-questions">
        <div class="picture-user-question">
          <%= image_tag @question.user.picture.url %>
        </div>
        <%= link_to @question.user.name, @question.user %>
        <span class="time"> | Asked on: <%= @question.created_at %>
          <%= link_to "Comments (#{count_comment @question})", "#", class: "nav-link-answers",
            data: { toggle: "collapse", target: "#comment-form" }, id: "total_comment" %>
        </span>
      </div>
    </div>
  </div>
  <div id="comment-form" class="collapse">
    <%= render "comments/form", comment: @comment, answer_id: nil, btn_text: "Add Comments",
      action: "create" %>
  </div>
  <div id="list-comment-question">
    <%= render select_comments(@comments, nil) %>
  </div>
  <div id="answer-list">
    <%= render "answer_paginate", answers: @answers, comment: @comment, comments: @comments %>
  </div>
  <div id="answer-form">
    <%= render "answers/form", question: @question, answer: @answer, btn_text: "Add Answers",
      action: "create" %>
  </div>
</div>
