<% provide(:title, @question.title) %>
<div class="col md-8">
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to "Home", root_path %>
      </li>
      <li class="breadcrumb-item active">
        <%= @question.title %>
      </li>
    </ol>
  </nav>
  <div class="row questions">
    <div class="col-md-1"></div>
    <div class="col-md-11 questions">
      <blockquote class="blockquote">
        <p class="question">
          <%= link_to @question.title, @question %>
        </p>
        <p class="anwser">
          <%= raw @question.content %>
        </p>
        <div class="tags">
          <%= (render partial: "shared/tags_list", collection: @question.tags,
          as: :tag) unless @question.tags.blank? %>
        </div>
      </blockquote>
      <div class="bottom-questions">
        <div class="picture-user-question">
          <%= image_tag @question.user.picture.url %>
        </div>
        <%= link_to @question.user.name, @question.user %>
        <span class="time"> | Asked on: <%= @question.created_at %>
          <%= link_to "Your Answer", "#", class: "nav-link-answers",
            data: { toggle: "collapse", target: "#comment-form" } %>
        </span>
      </div>
    </div>
  </div>
  <div id="answer-list">
    <%= render "answer_paginate", answers: @answers %>
  </div>
  <div id="answer-form">
    <%= render "answers/form", question: @question, answer: @answer, btn_text: "Post Answer", action: "create" %>
  </div>
</div>
