<%= form_for(@user = User.new, url: signup_path, remote: true) do |f| %>
  <div id="error_messages"></div>
  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control" %>

  <%= f.label :email %>
  <%= f.email_field :email, class: "form-control" %>

  <%= f.label :Phone %>
  <%= f.text_field :phone, class: "form-control" %>

  <%= f.label :Address %>
  <%= f.text_field :address, class: "form-control" %>

  <%= f.label :password %>
  <%= f.password_field :password, class: "form-control" %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, class: "form-control" %>

  <%= f.file_field :picture %>

  <%= f.submit "Sign up", class: "btn btn-primary" %>
<% end %>
