<div class="col-md-2 left">
  <div class="widget widget-btn">
    <%= link_to "+ ASK A QUESTION", new_question_path, class: "btn btn-primary" %>
  </div>
  <div class="widget widget-menus">
    <div id="menu-left-menu-container">
      <ul id="menu-left-menu-1">
        <li><%= link_to "#" do %>
          <i class="fa fa-question-circle"></i> Questions
        <% end %></li>
        <li><%= link_to "#" do %>
          <i class="fa fa-tags"></i> Tags
        <% end %></li>
        <li><%= link_to "#" do %>
          <i class="fa fa-th-list"></i> Categories
        <% end %></li>
        <li><%= link_to users_path do %>
          <i class="fa fa-users"></i> Users
        <% end %></li>
      </ul>
      <div class="copyright">
        ©2019 <br>
        <%= link_to "Terms & Privacy", "#" %>
      </div>
    </div>
  </div>
</div>
