<div class="col-md-2 right">
  <ul>
    <li class="widget widget-statistic">
      <ul class="widget wiget-count">
        <li class="question-count">
          <p>Questions</p>
          <span>23</span>
        </li>
        <li class="member-count">
          <p>Member</p>
          <span>12</span>
        </li>
      </ul>
    </li>
    <li class="widget widget-related-tags">
      <h3>MOST USED TAGS</h3>
      <ul id="widget widget-related-right">
        <li><%= link_to "business", "", class: "q-tag" %>x 6</li>
        <li><%= link_to "business", "", class: "q-tag" %>x 6</li>
        <li><%= link_to "business", "", class: "q-tag" %>x 6</li>
        <li><%= link_to "business", "", class: "q-tag" %>x 6</li>
        <li><%= link_to "business", "", class: "q-tag" %>x 6</li>
        <li><%= link_to "business", "", class: "q-tag" %>x 6</li>
        <li><%= link_to "business", "", class: "q-tag" %>x 6</li>
        <li><%= link_to "business", "", class: "q-tag" %>x 6</li>
        <li><%= link_to "business", "", class: "q-tag" %>x 6</li>
        <li><%= link_to "business", "", class: "q-tag" %>x 6</li>
      </ul>
    </li>
  </ul>
</div>
